!!!5
%html
  %head
    %title Kunal Parikh
    %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css'}
    %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    :css
      li, body, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #333333; }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
          %a.brand{:href => '#'} Kunal Parikh
          .nav-collapse
            %ul.nav
              %li
                %a{:href => 'mailto:kunal@techthumb.in'} kunal@techthumb.in
              %li
                %a{:href => 'tel:+61413308223'} 0413 308 223
    %br
    %br
    %br
    .container
      %section#summary
        .page-header
          %h1 Summary
        .row
          .span2.columns
          .span14.columns
            %p
              I am a software developer passionate about agile methodologies and object oriented software construction.
              I have a growing interest and expertise in dynamic languages and collaborative techniques.
              I strongly believe in the Agile manifesto and the eXtreme Programming values, principles & practices.
              I take great pride in delivering business focused solutions with tangible commercial outcomes.
      %section#cogent
        .page-header
          %h1
            Consultant, Cogent Consulting
            %small Sep 2009 - present
        .row
          .span2.columns
          .span14.columns
            %h2
              DevOps Engineer, REA Group (realestate.com.au)
              %small
                Jan 2011 - Present (8 months)
        .row
          .span2.columns
          .span14.columns
            %p Automated server provisioning using Amazon EC2, VMware & Opscode Chef to provide IaaS
            %p Automate deployment of in-house software components using build pipelines to create end-to-end environments
            %p Build Ubuntu/Debian packages for internal software
            %p Researched Linux Containers (LXC) to unit test Chef recipes
        .row
          .span2.columns
          .span14.columns
            %h2
              Senior Developer, Sensis
              %small
                Jul 2010 - Dec 2010 (6 months)
        .row
          .span2.columns
          .span14.columns
            %h3 Online Reporting Platform (ORP)
            %p
              The goal of this project was to record all interactions associated with listings on yellowpages.com.au & partner sites.
              %br
              Later, ROI reports were produced for advertisers.
              %br
              The interesting challenges on this project were around the volume & quality of data to process.
            %ul
              %li Involved in planning system architecture at the start of project
              %li Automated deployment & orchestration of multiple software components using vlad (Vlad the Deployer)
              %li Wrote a database migration tool with support for baselining migrations on a per release basis
        .row
          .span2.columns
          .span14.columns
            %h2
              Senior Developer, Lonely Planet
              %small
                Sep 2009 - Jun 2010 (10 months)
        .row
          .span2.columns
          .span14.columns
            %h3 Guidebook Feedback System
            %p
              Lonely Planet users provide feedback about information provided in guidebooks.
              %br
              Feedback very often contained detailed information such changes in trading hours of recommended business, or new contact information for the business.
              %br
              The goal was to collect this information in organised fashion, such that the updated information would immediately be made available on their website.
            %ul
              %li Rails app to build a multi-step feedback form
              %li Heavy use of JavaScript to provide a simplified user experience
      %section#sensis
        .page-header
          %h1
            Consultant, Sensis
            %small Apr 2007 - Aug 2009 (2 years)
        .row
          .span2.columns
          .span14.columns
            %h2 whitepages.com.au
        .row
          .span2.columns
          .span14.columns
            %p Developed solutions to stabilize & enhance reliability of legacy systems
            %p Deliver new business requirements with a focus on testing
            %p Introduce tools & technologies to enhance understanding of systems
            %p Mentor graduates and developers new to agile methodologies.
            %p Played a key role in introducing:
            %ul
              %li Ruby - to enhance understanding and readability of software systems
              %li RSpec - to facilitate & enhance communication between business analysts & developers
            %p Iteratively stabilised legacy systems while improving reliability and also guaranteeing accuracy of existing functionality
            %p Transitioned to a short, iterative and regular deployment cycle
            %p Assisted testing effort by automating existing regression suites to allow testers more time for exploratory testing
            %p Screening applicants for permanent positions to build a stable team for the long term
      %section#ibs
        .page-header
          %h1
            Developer, Internet Business Systems
            %small Mar 2005 - Mar 2007 (2 years)
        .row
          .span2.columns
          .span14.columns
            %p Developed an asset backed finance origination & management system
            %p Learned & applied extreme programming while developing mission critical software in the finance domain
            %p Actively practiced and learnt the values, principles & practices of Extreme Programming
            %p Led the production incident management team
            %p Regularly deployed to staging environments each iteration and production environments on sign off
            %p Gained substantial understanding of asset-backed financing. Learnt about loan amortisation, present & future value calculations, and, interest calculations
            %p Simulated interactions with third-party banking systems to facilitate testing and enhance confidence in system functionality
      %section#carsales
        .page-header
          %h1
            Developer, carsales.com
            %small Mar 2003 - Mar 2005 (2 years)
        .row
          .span2.columns
          .span14.columns
            %p Architected a J2EE web application for bikesales.com.au using the following tools & technologies:
            %ul
              %li Test driven development
              %li Spring for dependency injection & transaction management,
              %li Struts & Tiles for controller &view tier,
              %li Tomcat as the servlet container,
              %li Hibernate as the persistence engine,
              %li Oracle as the database,
              %li JUnit, JMock & HTTPUnit for unit, mock & integration testing,
              %li Anthill for continuous integration.
      %section#education
        .page-header
          %h1 Education
        .row
          .span2.columns
          .span14.columns
            %h2
              2000 - 2002	Bachelor of Computing
              %small Monash University
